<html>

<head>
 <title>Plan It!</title>
  <!--link type="text/css" rel="stylesheet" href="remzi.css"-->  
</head>

<body>

<center>
    <p style="font: 20pt/24pt Garamond, Georgia, serif;color:Black;" > 
        Welcome to Plan it! 
    </p>
    <p style="font: 16pt/20pt Garamond, Georgia, serif;color:Black;">
       A convenient "1-Day Trip" Planner for Madison!!
    </p>
</center>

<table>
<tr>
<td bgcolor=#0088cc width=400 height=500>
<p>
<center> 1 </center>
</p>
<p>
<center>
<br>
</center>
</p>
</td>

 
<td bgcolor=#00aacc width=400 height=500>
<p>
<center> 2 </center>
</p>
<p>
<center>
<br>
</center>
</p>
</td>

<td bgcolor=#00cccc width=400 height=500>
<p>
<center> 3 </center>
</p>
<p>
<center>
<br>
</center>
</p>
</td>
    
<td bgcolor=#00aacc width=400 height=500>
<p>
<center> 4 </center>
</p>
<p>
<center>
<br>
</center>
</p>
</td>

<td bgcolor=#0088cc width=400 height=500>
<p>
<center> 5 </center>
</p>
<p>
<center>
<br>
</center>
</p>
</td>

</tr>
</table>

<center>
<p style="font: 10pt/14pt Garamond, Georgia, serif;color:Red;">
***To-Do : Something like a timeline bar here for placing events***
</p>
</center>
</body>
</html>
